// #region Screen Size
$screen-xs: 320px;
$screen-sm: 360px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1920px;
$screen-xxl: 2560px;
// #endregion 

// #region Typography
$xl-font-size: (
  "h1": 24px,
  "h2": 20px,
);

$lg-font-size: (
  "h1": 20px,
  "h2": 18px,
);

$md-font-size: (
  "h1": 18px,
  "h2": 16px,
);
// #endregion

// #region Color
$primary-color: black;
$secondary-color: white;
// #endregion
